In [1]:
import sqlalchemy

import psycopg2
from sqlalchemy import inspect
from sqlalchemy import text
from sqlalchemy import create_engine
import time

In [2]:
DATABASE_URL = "postgresql://postgres.dbnbeqjmkqdrmhxqoybt:QdeK2LZSvb5CYb5t@aws-0-us-west-1.pooler.supabase.com:5432/postgres"

engine = create_engine(DATABASE_URL)

In [3]:
inspector = inspect(engine)
tables = inspector.get_table_names()

print("Tables in the database:")
for table in tables:
    print(table)

Tables in the database:
matter
raw_prime_gov_meeting
matter_attachment
matter_attachment_text
prime_gov_document_text
raw_event
embedding_cache
event_agenda_text
event_minutes_text
document_chunk
raw_civicplus_asset
civic_plus_document_text
granicus_event
unified_event
unified_document_text

In [4]:
for table_name in inspector.get_table_names()[-2:]:
    print(f"Table: {table_name}")
    for column in inspector.get_columns(table_name):
        print(f"  Column: {column['name']}")

Table: unified_event
  Column: source
  Column: client
  Column: source_event_id
  Column: unified_event_id
  Column: event_date
  Column: event_body_name
Table: unified_document_text
  Column: source
  Column: client
  Column: source_event_id
  Column: source_document_id
  Column: unified_event_id
  Column: truncated_text
  Column: event_date

In [11]:
from sqlalchemy import text

# This show the duplicatd data is not in unified_event
with engine.connect() as connection:
    query = """
    SELECT 
        source,
        client,
        source_event_id,
        event_date,
        COUNT(*) AS duplicate_count
    FROM unified_event
    GROUP BY 
        source,
        client,
        source_event_id,
        event_date
    HAVING COUNT(*) > 1

    ORDER BY duplicate_count DESC
    """
    
    result = connection.execute(text(query))
    duplicates = result.fetchall()

# Optionally display the duplicates
for row in duplicates[:100]:
    print(row)

In [12]:
from sqlalchemy import text
# the duplicated data is in unified_document_text
with engine.connect() as connection:
    query = """
    SELECT 
        source,
        client,
        source_event_id,
        event_date,
        COUNT(*) AS duplicate_count
    FROM unified_document_text
    GROUP BY 
        source,
        client,
        source_event_id,
        event_date
    HAVING COUNT(*) > 1
    ORDER BY duplicate_count DESC
    """
    
    result = connection.execute(text(query))
    duplicates = result.fetchall()

# Optionally display the duplicates
for row in duplicates[:100]:
    print(row)

('prime_gov', 'ventura', '2018', datetime.date(2020, 3, 24), 11)
('prime_gov', 'tularecounty', '1956', datetime.date(2021, 3, 22), 10)
('prime_gov', 'lacity', '13913', datetime.date(2023, 3, 17), 9)
('prime_gov', 'lacity', '14895', datetime.date(2023, 12, 8), 9)
('prime_gov', 'lacity', '16421', datetime.date(2025, 3, 7), 9)
('prime_gov', 'lacity', '8155', datetime.date(2021, 6, 9), 9)
('prime_gov', 'lacity', '13036', datetime.date(2022, 7, 1), 9)
('prime_gov', 'santa-ana', '4431', datetime.date(2024, 2, 21), 9)
('prime_gov', 'sealbeach', '500', datetime.date(2018, 10, 22), 9)
('prime_gov', 'santa-ana', '3909', datetime.date(2022, 3, 9), 8)
('prime_gov', 'santa-ana', '3984', datetime.date(2022, 6, 8), 8)
('prime_gov', 'cityofpaloalto', '1687', datetime.date(2023, 2, 9), 8)
('prime_gov', 'lacity', '15088', datetime.date(2024, 1, 26), 8)
('prime_gov', 'atherton', '120', datetime.date(2023, 1, 11), 8)
('prime_gov', 'lacity', '14720', datetime.date(2023, 10, 13), 8)
('prime_gov', 'lacity', '15335', datetime.date(2024, 4, 5), 7)
('prime_gov', 'lacity', '15732', datetime.date(2024, 8, 2), 7)
('prime_gov', 'lacity', '15565', datetime.date(2024, 5, 31), 7)
('prime_gov', 'lacity', '16310', datetime.date(2025, 2, 7), 7)
('prime_gov', 'sealbeach', '601', datetime.date(2019, 7, 22), 7)
('prime_gov', 'sealbeach', '604', datetime.date(2019, 7, 22), 7)
('prime_gov', 'atherton', '189', datetime.date(2023, 5, 3), 7)
('prime_gov', 'coronado', '1450', datetime.date(2022, 12, 20), 7)
('prime_gov', 'coronado', '1244', datetime.date(2022, 6, 2), 7)
('prime_gov', 'lacity', '8381', datetime.date(2021, 8, 11), 7)
('prime_gov', 'lacity', '15141', datetime.date(2024, 2, 9), 7)
('prime_gov', 'coronado', '1431', datetime.date(2022, 11, 15), 7)
('prime_gov', 'lacity', '9352', datetime.date(2021, 10, 20), 7)
('prime_gov', 'lacity', '8395', datetime.date(2021, 8, 18), 7)
('prime_gov', 'lacity', '15117', datetime.date(2024, 2, 2), 7)
('prime_gov', 'lacity', '14460', datetime.date(2023, 8, 23), 7)
('prime_gov', 'lacity', '14868', datetime.date(2023, 12, 1), 7)
('prime_gov', 'lacity', '15089', datetime.date(2024, 2, 16), 7)
('prime_gov', 'lacity', '16004', datetime.date(2024, 10, 11), 7)
('prime_gov', 'cityofmenifee', '1971', datetime.date(2023, 3, 1), 7)
('prime_gov', 'santa-ana', '4402', datetime.date(2023, 12, 13), 7)
('prime_gov', 'lacity', '14922', datetime.date(2023, 12, 15), 7)
('prime_gov', 'lacity', '11057', datetime.date(2021, 11, 23), 7)
('prime_gov', 'lacity', '9151', datetime.date(2021, 10, 19), 7)
('prime_gov', 'coronado', '1729', datetime.date(2023, 3, 2), 7)
('prime_gov', 'sanmateo', '1611', datetime.date(2024, 1, 2), 7)
('prime_gov', 'lacity', '15405', datetime.date(2024, 4, 17), 7)
('prime_gov', 'sanmateo', '740', datetime.date(2021, 1, 30), 7)
('prime_gov', 'ventura', '2207', datetime.date(2020, 5, 19), 7)
('prime_gov', 'sealbeach', '491', datetime.date(2018, 9, 12), 7)
('prime_gov', 'sealbeach', '489', datetime.date(2018, 9, 10), 7)
('prime_gov', 'sealbeach', '506', datetime.date(2018, 11, 13), 7)
('prime_gov', 'lacity', '14547', datetime.date(2024, 7, 2), 7)
('prime_gov', 'santa-ana', '4477', datetime.date(2024, 3, 13), 7)
('prime_gov', 'cityofmenifee', '1963', datetime.date(2023, 1, 25), 7)
('prime_gov', 'lacity', '13747', datetime.date(2023, 1, 27), 7)
('prime_gov', 'lacity', '15481', datetime.date(2024, 5, 8), 7)
('prime_gov', 'sealbeach', '891', datetime.date(2021, 5, 13), 7)
('prime_gov', 'lacity', '15301', datetime.date(2024, 3, 22), 7)
('prime_gov', 'atherton', '295', datetime.date(2024, 1, 23), 7)
('prime_gov', 'lacity', '15814', datetime.date(2024, 8, 16), 7)
('prime_gov', 'lacity', '13220', datetime.date(2022, 8, 5), 7)
('prime_gov', 'lacity', '15062', datetime.date(2024, 1, 19), 6)
('prime_gov', 'glendaleca', '9648', datetime.date(2023, 6, 6), 6)
('prime_gov', 'lacity', '3019', datetime.date(2016, 3, 1), 6)
('prime_gov', 'lacity', '5156', datetime.date(2013, 9, 27), 6)
('prime_gov', 'atherton', '211', datetime.date(2023, 6, 13), 6)
('prime_gov', 'atherton', '408', datetime.date(2025, 3, 5), 6)
('prime_gov', 'atherton', '353', datetime.date(2024, 7, 23), 6)
('prime_gov', 'atherton', '73', datetime.date(2022, 9, 29), 6)
('prime_gov', 'victorvilleca', '1731', datetime.date(2022, 3, 17), 6)
('prime_gov', 'ventura', '3397', datetime.date(2024, 9, 24), 6)
('prime_gov', 'lacity', '2082', datetime.date(2017, 8, 9), 6)
('prime_gov', 'atherton', '208', datetime.date(2023, 6, 7), 6)
('prime_gov', 'lacity', '3816', datetime.date(2015, 9, 4), 6)
('prime_gov', 'lacity', '13709', datetime.date(2023, 1, 20), 6)
('prime_gov', 'lacity', '3093', datetime.date(2016, 6, 17), 6)
('prime_gov', 'ventura', '2426', datetime.date(2012, 11, 13), 6)
('prime_gov', 'lacity', '12917', datetime.date(2022, 5, 20), 6)
('prime_gov', 'lacity', '13843', datetime.date(2023, 2, 24), 6)
('prime_gov', 'sealbeach', '468', datetime.date(2018, 6, 27), 6)
('prime_gov', 'lacity', '5137', datetime.date(2013, 8, 23), 6)
('prime_gov', 'coronado', '2215', datetime.date(2024, 11, 7), 6)
('prime_gov', 'lacity', '2256', datetime.date(2017, 3, 8), 6)
('prime_gov', 'sanmateo', '1964', datetime.date(2025, 1, 13), 6)
('prime_gov', 'lacity', '1225', datetime.date(2018, 1, 19), 6)
('prime_gov', 'sealbeach', '388', datetime.date(2018, 2, 26), 6)
('prime_gov', 'cityofhawthorne', '777', datetime.date(2020, 7, 15), 6)
('prime_gov', 'lacity', '4787', datetime.date(2020, 8, 11), 6)
('prime_gov', 'lacity', '3715', datetime.date(2015, 7, 31), 6)
('prime_gov', 'lacity', '12722', datetime.date(2022, 4, 6), 6)
('prime_gov', 'sealbeach', '730', datetime.date(2020, 5, 28), 6)
('prime_gov', 'ventura', '3431', datetime.date(2024, 12, 10), 6)
('prime_gov', 'sealbeach', '412', datetime.date(2018, 6, 11), 6)
('prime_gov', 'cathedralcity', '40', datetime.date(2024, 6, 4), 6)
('prime_gov', 'lacity', '13102', datetime.date(2022, 6, 24), 6)
('prime_gov', 'lacity', '3096', datetime.date(2016, 6, 24), 6)
('prime_gov', 'lacity', '2268', datetime.date(2017, 4, 28), 6)
('prime_gov', 'lacity', '11409', datetime.date(2022, 2, 9), 6)
('prime_gov', 'lacity', '3073', datetime.date(2016, 4, 22), 6)
('prime_gov', 'ventura', '3479', datetime.date(2025, 1, 28), 6)
('prime_gov', 'lacity', '1099', datetime.date(2018, 9, 7), 6)
('prime_gov', 'lacity', '2072', datetime.date(2017, 6, 23), 6)
('prime_gov', 'fostercity', '971', datetime.date(2023, 10, 2), 6)
('prime_gov', 'lacity', '3368', datetime.date(2015, 1, 23), 6)

In [16]:
from sqlalchemy import text

delete_query = text(
    """
    WITH duplicates AS (
        SELECT 
            ctid,
            ROW_NUMBER() OVER (
                PARTITION BY 
                    source,
                    client,
                    source_event_id,
                    unified_event_id,
                    event_date
                ORDER BY source_event_id
            ) AS rn
        FROM unified_document_text
    )
    DELETE FROM unified_document_text
    WHERE ctid IN (
        SELECT ctid FROM duplicates WHERE rn > 1
    );
    """
)

with engine.begin() as connection:
    connection.execute(delete_query)

In [23]:
from sqlalchemy import text
# the duplicated data is in unified_document_text
with engine.connect() as connection:
    query = """
    SELECT 
        source,
        client,
        source_event_id,
        unified_event_id,
        -- source_document_id,
        event_date,
        COUNT(*) AS duplicate_count
    FROM unified_document_text
    GROUP BY 
        source,
        client,
        source_event_id,
        -- source_document_id,
        unified_event_id,
        event_date
    HAVING COUNT(*) > 1
    ORDER BY duplicate_count DESC
    """
    
    result = connection.execute(text(query))
    duplicates = result.fetchall()

# Optionally display the duplicates
for row in duplicates[:100]:
    print(row)

('prime_gov', 'ventura', '2018', 'prime_gov:ventura:2018', datetime.date(2020, 3, 24), 11)
('prime_gov', 'tularecounty', '1956', 'prime_gov:tularecounty:1956', datetime.date(2021, 3, 22), 10)
('prime_gov', 'sealbeach', '500', 'prime_gov:sealbeach:500', datetime.date(2018, 10, 22), 9)
('prime_gov', 'lacity', '13036', 'prime_gov:lacity:13036', datetime.date(2022, 7, 1), 9)
('prime_gov', 'lacity', '8155', 'prime_gov:lacity:8155', datetime.date(2021, 6, 9), 9)
('prime_gov', 'lacity', '13913', 'prime_gov:lacity:13913', datetime.date(2023, 3, 17), 9)
('prime_gov', 'santa-ana', '4431', 'prime_gov:santa-ana:4431', datetime.date(2024, 2, 21), 9)
('prime_gov', 'lacity', '14895', 'prime_gov:lacity:14895', datetime.date(2023, 12, 8), 9)
('prime_gov', 'lacity', '16421', 'prime_gov:lacity:16421', datetime.date(2025, 3, 7), 9)
('prime_gov', 'atherton', '120', 'prime_gov:atherton:120', datetime.date(2023, 1, 11), 8)
('prime_gov', 'santa-ana', '3909', 'prime_gov:santa-ana:3909', datetime.date(2022, 3, 9), 8)
('prime_gov', 'lacity', '15088', 'prime_gov:lacity:15088', datetime.date(2024, 1, 26), 8)
('prime_gov', 'lacity', '14720', 'prime_gov:lacity:14720', datetime.date(2023, 10, 13), 8)
('prime_gov', 'santa-ana', '3984', 'prime_gov:santa-ana:3984', datetime.date(2022, 6, 8), 8)
('prime_gov', 'cityofpaloalto', '1687', 'prime_gov:cityofpaloalto:1687', datetime.date(2023, 2, 9), 8)
('prime_gov', 'lacity', '9352', 'prime_gov:lacity:9352', datetime.date(2021, 10, 20), 7)
('prime_gov', 'lacity', '11057', 'prime_gov:lacity:11057', datetime.date(2021, 11, 23), 7)
('prime_gov', 'lacity', '15565', 'prime_gov:lacity:15565', datetime.date(2024, 5, 31), 7)
('prime_gov', 'lacity', '8381', 'prime_gov:lacity:8381', datetime.date(2021, 8, 11), 7)
('prime_gov', 'lacity', '15141', 'prime_gov:lacity:15141', datetime.date(2024, 2, 9), 7)
('prime_gov', 'sanmateo', '1611', 'prime_gov:sanmateo:1611', datetime.date(2024, 1, 2), 7)
('prime_gov', 'sanmateo', '740', 'prime_gov:sanmateo:740', datetime.date(2021, 1, 30), 7)
('prime_gov', 'lacity', '8395', 'prime_gov:lacity:8395', datetime.date(2021, 8, 18), 7)
('prime_gov', 'coronado', '1729', 'prime_gov:coronado:1729', datetime.date(2023, 3, 2), 7)
('prime_gov', 'lacity', '15732', 'prime_gov:lacity:15732', datetime.date(2024, 8, 2), 7)
('prime_gov', 'santa-ana', '4477', 'prime_gov:santa-ana:4477', datetime.date(2024, 3, 13), 7)
('prime_gov', 'lacity', '15117', 'prime_gov:lacity:15117', datetime.date(2024, 2, 2), 7)
('prime_gov', 'lacity', '14460', 'prime_gov:lacity:14460', datetime.date(2023, 8, 23), 7)
('prime_gov', 'cityofmenifee', '1963', 'prime_gov:cityofmenifee:1963', datetime.date(2023, 1, 25), 7)
('prime_gov', 'cityofmenifee', '1971', 'prime_gov:cityofmenifee:1971', datetime.date(2023, 3, 1), 7)
('prime_gov', 'lacity', '16004', 'prime_gov:lacity:16004', datetime.date(2024, 10, 11), 7)
('prime_gov', 'lacity', '15481', 'prime_gov:lacity:15481', datetime.date(2024, 5, 8), 7)
('prime_gov', 'lacity', '13747', 'prime_gov:lacity:13747', datetime.date(2023, 1, 27), 7)
('prime_gov', 'coronado', '1244', 'prime_gov:coronado:1244', datetime.date(2022, 6, 2), 7)
('prime_gov', 'lacity', '9151', 'prime_gov:lacity:9151', datetime.date(2021, 10, 19), 7)
('prime_gov', 'sealbeach', '601', 'prime_gov:sealbeach:601', datetime.date(2019, 7, 22), 7)
('prime_gov', 'lacity', '15814', 'prime_gov:lacity:15814', datetime.date(2024, 8, 16), 7)
('prime_gov', 'lacity', '14868', 'prime_gov:lacity:14868', datetime.date(2023, 12, 1), 7)
('prime_gov', 'lacity', '16310', 'prime_gov:lacity:16310', datetime.date(2025, 2, 7), 7)
('prime_gov', 'atherton', '189', 'prime_gov:atherton:189', datetime.date(2023, 5, 3), 7)
('prime_gov', 'lacity', '15405', 'prime_gov:lacity:15405', datetime.date(2024, 4, 17), 7)
('prime_gov', 'atherton', '295', 'prime_gov:atherton:295', datetime.date(2024, 1, 23), 7)
('prime_gov', 'sealbeach', '506', 'prime_gov:sealbeach:506', datetime.date(2018, 11, 13), 7)
('prime_gov', 'lacity', '15301', 'prime_gov:lacity:15301', datetime.date(2024, 3, 22), 7)
('prime_gov', 'lacity', '14547', 'prime_gov:lacity:14547', datetime.date(2024, 7, 2), 7)
('prime_gov', 'santa-ana', '4402', 'prime_gov:santa-ana:4402', datetime.date(2023, 12, 13), 7)
('prime_gov', 'sealbeach', '491', 'prime_gov:sealbeach:491', datetime.date(2018, 9, 12), 7)
('prime_gov', 'coronado', '1431', 'prime_gov:coronado:1431', datetime.date(2022, 11, 15), 7)
('prime_gov', 'sealbeach', '604', 'prime_gov:sealbeach:604', datetime.date(2019, 7, 22), 7)
('prime_gov', 'lacity', '13220', 'prime_gov:lacity:13220', datetime.date(2022, 8, 5), 7)
('prime_gov', 'sealbeach', '891', 'prime_gov:sealbeach:891', datetime.date(2021, 5, 13), 7)
('prime_gov', 'lacity', '14922', 'prime_gov:lacity:14922', datetime.date(2023, 12, 15), 7)
('prime_gov', 'ventura', '2207', 'prime_gov:ventura:2207', datetime.date(2020, 5, 19), 7)
('prime_gov', 'coronado', '1450', 'prime_gov:coronado:1450', datetime.date(2022, 12, 20), 7)
('prime_gov', 'lacity', '15089', 'prime_gov:lacity:15089', datetime.date(2024, 2, 16), 7)
('prime_gov', 'sealbeach', '489', 'prime_gov:sealbeach:489', datetime.date(2018, 9, 10), 7)
('prime_gov', 'lacity', '15335', 'prime_gov:lacity:15335', datetime.date(2024, 4, 5), 7)
('prime_gov', 'ventura', '3397', 'prime_gov:ventura:3397', datetime.date(2024, 9, 24), 6)
('prime_gov', 'cityofhawthorne', '777', 'prime_gov:cityofhawthorne:777', datetime.date(2020, 7, 15), 6)
('prime_gov', 'lacity', '2764', 'prime_gov:lacity:2764', datetime.date(2016, 8, 17), 6)
('prime_gov', 'sanmateo', '1980', 'prime_gov:sanmateo:1980', datetime.date(2025, 2, 19), 6)
('prime_gov', 'lacity', '12923', 'prime_gov:lacity:12923', datetime.date(2022, 6, 29), 6)
('prime_gov', 'lacity', '3093', 'prime_gov:lacity:3093', datetime.date(2016, 6, 17), 6)
('prime_gov', 'gilroy', '856', 'prime_gov:gilroy:856', datetime.date(2024, 4, 9), 6)
('prime_gov', 'sanmateo', '1113', 'prime_gov:sanmateo:1113', datetime.date(2022, 2, 16), 6)
('prime_gov', 'lacity', '2765', 'prime_gov:lacity:2765', datetime.date(2016, 8, 19), 6)
('prime_gov', 'lacity', '4903', 'prime_gov:lacity:4903', datetime.date(2020, 10, 28), 6)
('prime_gov', 'lacity', '1574', 'prime_gov:lacity:1574', datetime.date(2018, 9, 28), 6)
('prime_gov', 'atherton', '309', 'prime_gov:atherton:309', datetime.date(2024, 3, 6), 6)
('prime_gov', 'lacity', '3583', 'prime_gov:lacity:3583', datetime.date(2015, 5, 13), 6)
('prime_gov', 'lacity', '1360', 'prime_gov:lacity:1360', datetime.date(2018, 4, 13), 6)
('prime_gov', 'lacity', '4627', 'prime_gov:lacity:4627', datetime.date(2014, 3, 5), 6)
('prime_gov', 'glendaleca', '9849', 'prime_gov:glendaleca:9849', datetime.date(2024, 2, 6), 6)
('prime_gov', 'lacity', '3368', 'prime_gov:lacity:3368', datetime.date(2015, 1, 23), 6)
('prime_gov', 'lacity', '13102', 'prime_gov:lacity:13102', datetime.date(2022, 6, 24), 6)
('prime_gov', 'sealbeach', '195', 'prime_gov:sealbeach:195', datetime.date(2016, 3, 7), 6)
('prime_gov', 'sanmateo', '1686', 'prime_gov:sanmateo:1686', datetime.date(2023, 11, 30), 6)
('prime_gov', 'lacity', '3768', 'prime_gov:lacity:3768', datetime.date(2015, 8, 28), 6)
('prime_gov', 'lacity', '16108', 'prime_gov:lacity:16108', datetime.date(2025, 1, 24), 6)
('prime_gov', 'lacity', '1243', 'prime_gov:lacity:1243', datetime.date(2018, 2, 23), 6)
('prime_gov', 'glendaleca', '9648', 'prime_gov:glendaleca:9648', datetime.date(2023, 6, 6), 6)
('prime_gov', 'atherton', '211', 'prime_gov:atherton:211', datetime.date(2023, 6, 13), 6)
('prime_gov', 'lacity', '2072', 'prime_gov:lacity:2072', datetime.date(2017, 6, 23), 6)
('prime_gov', 'coronado', '2078', 'prime_gov:coronado:2078', datetime.date(2024, 4, 18), 6)
('prime_gov', 'lacity', '16476', 'prime_gov:lacity:16476', datetime.date(2025, 2, 28), 6)
('prime_gov', 'lacity', '3096', 'prime_gov:lacity:3096', datetime.date(2016, 6, 24), 6)
('prime_gov', 'lacity', '2077', 'prime_gov:lacity:2077', datetime.date(2017, 7, 26), 6)
('prime_gov', 'townofyountville', '648', 'prime_gov:townofyountville:648', datetime.date(2021, 6, 8), 6)
('prime_gov', 'glendaleca', '9439', 'prime_gov:glendaleca:9439', datetime.date(2023, 2, 7), 6)
('prime_gov', 'lacity', '2082', 'prime_gov:lacity:2082', datetime.date(2017, 8, 9), 6)
('prime_gov', 'lacity', '8159', 'prime_gov:lacity:8159', datetime.date(2021, 6, 8), 6)
('prime_gov', 'sealbeach', '684', 'prime_gov:sealbeach:684', datetime.date(2020, 3, 19), 6)
('prime_gov', 'lacity', '133', 'prime_gov:lacity:133', datetime.date(2019, 3, 8), 6)
('prime_gov', 'lacity', '5072', 'prime_gov:lacity:5072', datetime.date(2013, 12, 6), 6)
('prime_gov', 'sealbeach', '391', 'prime_gov:sealbeach:391', datetime.date(2018, 2, 20), 6)
('prime_gov', 'lacity', '2068', 'prime_gov:lacity:2068', datetime.date(2017, 6, 14), 6)
('prime_gov', 'sanmateo', '885', 'prime_gov:sanmateo:885', datetime.date(2021, 8, 11), 6)
('prime_gov', 'ventura', '3479', 'prime_gov:ventura:3479', datetime.date(2025, 1, 28), 6)
('prime_gov', 'coronado', '1583', 'prime_gov:coronado:1583', datetime.date(2023, 1, 5), 6)
('prime_gov', 'lacity', '14162', 'prime_gov:lacity:14162', datetime.date(2023, 5, 17), 6)

In [24]:
from sqlalchemy import text

delete_query = text(
    """
    WITH duplicates AS (
        SELECT 
            ctid,
            ROW_NUMBER() OVER (
                PARTITION BY 
                    source,
                    client,
                    source_event_id,
                    unified_event_id,
                    event_date
                ORDER BY unified_event_id, LENGTH(truncated_text) desc
            ) AS rn
        FROM unified_document_text
    )
    DELETE FROM unified_document_text
    WHERE ctid IN (
        SELECT ctid FROM duplicates WHERE rn > 1
    );
    """
)

with engine.connect() as connection:
    connection.execute(delete_query)

In [8]:

with engine.connect() as connection:
    result = connection.execute(text(f"SELECT legistar_client, COUNT(*) FROM document_chunk group by legistar_client"))
    print(f"\nClient counts in table '{table}':")
    for row in result:
        print(f"Client: {row[0]}, Count: {row[1]} \n")
        
    city_count = connection.execute(text(f"SELECT COUNT(DISTINCT legistar_client) FROM document_chunk"))
    city_count = [a[0] for a in city_count]
    document_count = connection.execute(text(f"SELECT COUNT(*) FROM document_chunk"))
    document_count = [a[0] for a in document_count]
    print(city_count, document_count)

Client counts in table 'document_chunk':
Client: santabarbara, Count: 8489

Client: mountainview, Count: 17298

Client: metro, Count: 2775

Client: sanbernardino, Count: 18995

Client: culver-city, Count: 17420

Client: ci-ssf-ca, Count: 1571

Client: sunnyvaleca, Count: 18462

Client: oakland, Count: 16438

[8] [101448]

In [9]:
inspector.get_columns(table_name)

[{'name': 'id',
  'type': INTEGER(),
  'nullable': False,
  'default': None,
  'autoincrement': True,
  'comment': None,
  'identity': {'always': True,
   'start': 1,
   'increment': 1,
   'minvalue': 1,
   'maxvalue': 2147483647,
   'cache': 1,
   'cycle': False}},
 {'name': 'document_table',
  'type': TEXT(),
  'nullable': False,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'document_id',
  'type': INTEGER(),
  'nullable': False,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'index',
  'type': INTEGER(),
  'nullable': False,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'text',
  'type': TEXT(),
  'nullable': False,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'embedding',
  'type': NullType(),
  'nullable': False,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'legistar_client',
  'type': TEXT(),
  'nullable': False,
  'default': None,
  'autoincrement': False,
  'comment': None}]